@model IEnumerable<SUN2.Models.Lehrstuhl>
@{
    ViewBag.Title = "Home Page";

    //List<String> lehrstuhlName = ViewBag.lehrstuhlName;
}


<div class="row">
    <div class="col-md-8 jumbotron" style="margin:5px">
        <h4>Beiträge</h4>

    </div>
    <div class="col-md-3 jumbotron">
        <h4>Abonnierte Seiten</h4>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.bezeichnung)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.verantwortlicher)
                </th>


            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.bezeichnung, "Details", "Lehrstuhl", new { id = item.lehrstuhlid }, new { id = item.lehrstuhlid })

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.verantwortlicher)
                    </td>

                </tr>
            }

        </table>


    </div>

</div>