.dropdown-menu {
    background-color: #222;
}

.dropdown-menu > li > a:hover {
    color: #fff;
}

.dropdown-menu > li > a:hover, dropdown-menu > li > a:focus {
    background-color: #333333;
}

.dropdown-menu .divider {
    background-color: #080808;
}

.dropdown {
    border-color: #080808;
}

.dropdown-menu > li > a {
    color: #9d9d9d;
}

.dropdown-menu {
    color: #333333;
}


    .dropdown:hover .dropdown-menu {
        display: block;
    }



/* Layout.cshtml */
#Lupe {
    color: white;
    font-size: 1.5em;
    padding-left: 10px;
    padding-top: 15px;
}

.Feld {
    width: 600px;
    margin-top: 8px;
}

#GruppenID {
    color: aquamarine; 


}

/* Beträge Layout insb. Gruppen*/

#GruppenBeitragGesamt {
    background-color: #B0B3AF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 3px rgb(242, 168, 104), 0 1px 2px rgb(242, 168, 104);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    #GruppenBeitragGesamt:hover {
        box-shadow: 0 14px 28px rgb(242, 168, 104), 0 10px 10px rgb(242, 168, 104);
    }

#GruppenHead {
    background-color: #B0B3AF;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#GruppenInhalt {
    background-color: #333;
    color: rgba(255,255,255,1);
    width: 100%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    text-align: justify;

}

#GruppenLabelsRahmen {
    background-color: #B0B3AF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 30px;
    text-align: justify;
}


#GruppenLabels {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 30px;
    float: left;
}


#GruppenPlatzhalter {
    margin-top: 40px;
}


#GruppenPostName {
    font-weight: bold;
    float: left;
    padding-right: 10px;
}

#GruppenEdit {
    text-align: top;
}

/* Beträge NewsFeed */


* {
    box-sizing: border-box;
}

body {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0;
    text-align: center;
    background-image: url("https://carrd.co/assets/images/bg.svg"),linear-gradient(45deg, #6E436C 25%, #2A4584 75%);
    background-size: cover, cover;
    background-position: top, center;
    background-repeat: repeat, repeat;
    cursor: default;
    color: white;
 
}
h2{
    color: whitesmoke; 
}
h1 {
    color: whitesmoke;
}

