.dropdown-menu {
    background-color: #222;
}

.dropdown-menu > li > a:hover {
    color: #fff;
}

.dropdown-menu > li > a:hover, dropdown-menu > li > a:focus {
    background-color: #333333;
}

.dropdown-menu .divider {
    background-color: #080808;
}

.dropdown {
    border-color: #080808;
}

.dropdown-menu > li > a {
    color: #9d9d9d;
}

.dropdown-menu {
    color: #333333;
}


    .dropdown:hover .dropdown-menu {
        display: block;
    }

input {
    color: black;
}

/* Layout.cshtml */
#Lupe {
    color: white;
    font-size: 1.5em;
    padding-left: 10px;
    padding-top: 15px;
}

.Feld {
    width: 600px;
    margin-top: 8px;
}

#GruppenID {
    color: aquamarine; 


}

/* Beträge Layout insb. Gruppen*/

#GruppenBeitragGesamt {
    background-color: Cornsilk;
    width: 31%;
    float: left;
    z-index: 0;
    margin: 10px;
    box-shadow: 0 1px 3px rgb(242, 168, 104), 0 1px 2px rgb(242, 168, 104);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    #GruppenBeitragGesamt:hover {
        box-shadow: 0 14px 28px rgb(242, 168, 104), 0 10px 10px rgb(242, 168, 104);
 
    }

#GruppenHead {
    background-color: bisque;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
}



#GruppenInhalt {
    color: black;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    transition: height 0.5s;
    z-index: 0;
}

#GruppenLabelsRahmen {
    background-color: bisque;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 30px;
    text-align: justify;
}


#GruppenLabels {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 30px;
    float: left;
}


#GruppenPlatzhalter {
    margin-top: 40px;
}


#GruppenPostName {
    font-weight: bold;
    float: left;
    padding-right: 10px;
}

#GruppenEdit {
    text-align: top;
}

/* allg */


* {
    box-sizing: border-box;
}


h2{
    color: black; 
}
h1 {
    color: black;
}





/*Login*/


body {
    
    /*background: url('https://i.pinimg.com/originals/4d/9d/3f/4d9d3f0f71a32bdd3d19d0b572bab2c1.jpg') no-repeat center center fixed;*/
    background-size: cover;
}

#login-box {
    font-size: 14px;
    border-top: 2px solid #3498db;
    width: 300px;
    padding: 20px;
    margin: 60px auto;
    /*/display: none; */
    background-color: #FFFFFF;
    /*background-color: transparent;*/
}

.header {
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    color: black; /* Farbe an Bild anpassen*/
}

.header h2 {
    text-align: center;
    margin-bottom: 22px;
    font-size: 28px;
}

hr {
    border: 0;
    border: 1px solid #eeeeee;
}

#login-box input[type='text']:focus, input[type="password"]:focus {
    color: black;
    border: 1px solid black;
    outline: none;
}

#login-box input[type='text'], input[type='password'] {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
    border: 1px solid #cccccc;
    line-heigt: 2;
}


#login {
    float: right;
    text-decoration: none;
    color: #333333;
}

#login-box .button {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
    padding: 6px 13px;
    border: 0 solid #018dc4;
    font-size: 14px;
    color: rgba(255,255,255,0.9);
    background: #3498db;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#login-box .button:hover {
    background-color: #2980b9;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
p {
   color: white; 
}


/* Registrieren */

#Register-box {
    font-size: 14px;
    border-top: 2px solid #3498db;
    width: 300px;
    padding: 20px;
    margin: 60px auto;
    /*/display: none; */
    background-color: #FFFFFF;
    /*background-color: transparent;*/
}



#Register-box input[type='text']:focus, input[type="password"]:focus {
    color: black;
    border: 1px solid black;
    outline: none;
}

#Register-box input[type='text'], input[type='password'] {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
    border: 1px solid #cccccc;
    line-heigt: 2;
}

#Register-box select {
    margin-top: 1px;
    margin-bottom: 1px;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
    border: 1px solid #cccccc;
    line-heigt: 1;
}




#Register-box .button {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: inline-block;
    cursor: pointer;
    padding: 6px 13px;
    border: 0 solid #018dc4;
    font-size: 14px;
    color: rgba(255,255,255,0.9);
    background: #3498db;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

    #Register-box .button:hover {
        background-color: #2980b9;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }




/* Beiträge bearbeiten */
#TextboxInhalt {
    width: 100% !important;
    max-width: 100% !important;
    height: 100px !important;
}