@model SUN2.Models.Gruppe

@{
    ViewBag.Title = "Gruppe löschen";
}


@if (Request.IsAuthenticated)
{

    <h3>Möchten Sie die Gruppe " @Html.DisplayFor(model => model.bezeichnung) " wirklich löschen?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal"></dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Gruppe löschen" class="btn btn-default" />
                @Html.ActionLink("Zurück", "Index")
            </div>
        }
    </div>
}
else
{
    Response.Redirect("/Error/NotLoggedIn");
}
